.gitignore
config
config.bak
file_out
*.swp
*.out
*.err
*.pdf
*.zip
*.tgz
data/*
spark-2.0.1.tgz
spark-2.0.1/*
prime-run.err
prime-run.out
local/*
protobuf-2.5.0.zip
protobuf-2.5.0/
spark/*
spark-2/*
metastore_db/*
derby.log
